<section id="{{ include_dict.section.section_id }}" class="block contact-block outer">
  <div class="inner">
    <div class="block-inside">
      <div class="block-header">
        <h2 class="block-title line-top">{{ include_dict.section.title }}</h2>
        {% if include_dict.section.subtitle %}
        <p class="block-subtitle">
          {{ include_dict.section.subtitle | safe }}
        </p>
        {% endif %}
      </div><!-- .block-header -->
      <div class="block-content">
        {% include "contact_form.html" %}
      </div><!-- .block-content -->
    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->