<footer id="colophon" class="site-footer outer">
  <div class="inner">
    <div class="site-footer-inside">
      <div class="site-info">
        {% if site.params.footer.content %}
        <span class="copyright">{{ site.params.footer.content | safe }}</span>
        {% endif %}
        {% for link in site.params.footer.links %}
        <a {{ classNames({'button': link.type == 'button'}) }} href="{{ link.url }}" {% if link.new_window %}target="_blank" rel="noopener"{% endif %}>
          {% if link.type == 'icon' %}
          <span class="fab {{ link.icon_class }}"
          aria-hidden="true"></span><span class="screen-reader-text">{{ link.label }}</span>
          {% else %}
           {{ link.label }}
          {% endif %}
        </a>
        {% endfor %}
      </div><!-- .site-info -->
      {% if site.params.footer.has_social %}
        {% include "social.html" %}
      {% endif %}
    </div><!-- .site-footer-inside -->
  </div><!-- .inner -->
</footer><!-- .site-footer -->