<section id="{{ include_dict.section.section_id }}" class="portfolio-block block outer">
  <div class="inner">
    <div class="block-header">
      <h2 class="block-title line-top">{{ include_dict.section.title }}</h2>
      {% if include_dict.section.subtitle %}
      <p class="block-subtitle">
        {{ include_dict.section.subtitle | safe }}
      </p>
      {% endif %}
    </div><!-- .block-header -->
    <div class="block-content">
      <div class="portfolio-feed layout-{{ include_dict.section.layout_style }}">
        {% set display_projects = getPages("/projects") | sort(true, true, "date") %}
        {% set recent_projects = display_projects | slice_array(0, include_dict.section.num_projects_displayed) %}
        {% for post in recent_projects %}
        <article class="post project">
          {% if loop.last %}
          <a href="{{ include_dict.section.view_all_url }}" class="post-link">
            {% if post.params.thumb_img_path %}
            <div class="post-thumbnail">
              <img class="thumbnail" src="{{ post.params.thumb_img_path | relative_url }}" alt="{{ post.params.title }}" />
            </div>
            {% endif %}
            <span class="view-all">{{ include_dict.section.view_all_text | default("View All", true) }}</span>
          </a>
          {% else %}
          <a href="{{ post.url | relative_url }}" class="post-link">
            {% if post.params.thumb_img_path %}
            <div class="post-thumbnail">
              <img class="thumbnail" src="{{ post.params.thumb_img_path | relative_url }}" alt="{{ post.params.title }}" />
            </div>
            {% endif %}
            <header class="post-header">
              <h3 class="post-title">{{ post.params.title }}</h3>
            </header>
          </a><!-- .post-link -->
          {% endif %}
        </article><!-- .post -->
        {% endfor %}
      </div><!-- .portfolio-feed -->
    </div><!-- .block-content -->
  </div><!-- .inner -->
</section><!-- .block -->