<section id="{{ include_dict.section.section_id }}" class="block services-block outer">
  <div class="inner">
    <div class="block-inside">
      <div class="block-header">
        <h2 class="block-title line-top">{{ include_dict.section.title }}</h2>
        {% if include_dict.section.subtitle %}
        <p class="block-subtitle">
          {{ include_dict.section.subtitle | safe }}
        </p>
        {% endif %}
      </div><!-- .block-header -->
      {% if include_dict.section.serviceslist %}
      <div class="block-content">
        <div class="services-list">
          {% for service in include_dict.section.serviceslist %}
          <div class="service">
            <span class="service-counter" aria-hidden="true">{{ loop.index }}.</span>
            <h3 class="service-title">{{ service.title }}</h3>
            <div class="service-text">
              {{ service.content | markdownify }}
            </div>
          </div><!-- .service -->
          {% endfor %}
        </div><!-- .services-list -->
      </div><!-- .block-content -->
      {% endif %}
    </div><!-- .block-inside -->
  </div><!-- .inner -->
</section><!-- .block -->