{% extends "body.html" %}

{% block content %}

<div class="inner outer">

  <header class="page-header inner-sm">
    <h1 class="page-title line-top">{{ page.params.title }}</h1>
    {% if page.params.subtitle %}
    <p class="page-subtitle">{{ page.params.subtitle }}</p>
    {% endif %}
  </header><!--.page-header -->

  <div class="portfolio-feed layout-{{ page.params.layout_style }}">
    {% set display_projects = getPages("/portfolio") | sort(true, true, "date") %}
    {% for post in display_projects %}
    <article class="project">
      <a href="{{ post.url | relative_url }}" class="project-link">
        {% if post.params.thumb_image %}
        <div class="project-thumbnail">
          <img src="{{ post.params.thumb_image | relative_url }}" alt="{{ post.params.thumb_image_alt }}" />
        </div>
        {% endif %}
        <header class="project-header">
          <h2 class="project-title">{{ post.params.title }}</h2>
        </header>
      </a>
    </article><!-- .project -->
    {% endfor %}
  </div><!-- .portfolio-feed -->

</div><!-- .inner -->

{% endblock %}
