/**
 * Site Footer
 */
.site-footer {
  border-top: 1px solid _palette(charcoal-light-75);
  padding-bottom: 1.33333em;
  padding-top: 2.5em;
}

#colophon {
  a:not(.button) {
    color: inherit;

    &:hover,
    &:focus {
      color: _palette(accent);
    }
  }
}

.site-info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 1.25em;
  margin-top: 0.45em;
  

  .copyright,
  a {
    margin-bottom: 0.25em;
    margin-right: 10px;
  }

  .button {
    font-size: 14px;
    padding: 0.275em 0.5em;
  }
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    color: inherit;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 18px;
    height: 1.66667em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.66667em;
    margin: 0 15px 0.83333em 0;
    width: 1.66667em;
  }
}

@media only screen and (min-width: 601px) {
  .site-footer-inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .social-links {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: auto;

    a {
      margin-left: 20px;
      margin-right: 0;
    }
  }
}